*{
    font-family: monospace;
}
/* Form Container */
.settings-form {
    height: 500px;
    width: 450px;
    background-color: #B6F8E9;
    border: 1.5px solid #3cd6bb;
    border-radius: 15px;
    padding: 20px;
    margin: 2% auto;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.356);
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.settings-form h4 {
    color: #1bc1a4;
    text-align: center;
    margin-bottom: 20px;
    font-size: 16px;
}

.settings-form-data {
    margin-left: 20px;
}

.input-container select {
    outline: none;
    border: 1px solid #3cd6bb; 
    border-radius: 20px;
    height: 35px;
    padding: 0 10px;
    font-size: 14px;
    background-color: #fff;
    transition: border-color 0.3s ease-in-out;
    animation: slideIn 0.5s ease-in-out;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.input-container select:focus {
    border-color: #1bc1a4; 
}

.question-amount input {
    outline: none;
    border: 1px solid #3cd6bb; 
    border-radius: 20px;
    height: 35px;
    padding: 0 10px;
    font-size: 14px;
    background-color: #fff;
    transition: border-color 0.3s ease-in-out;
    animation: slideIn 0.5s ease-in-out;
}

.question-amount input:focus {
    border-color: #1bc1a4; 
}

.started-btn {
    text-align: center;
    margin-top: 20px;
}

.started-btn button {
    border-radius: 10px;
    padding: 10px;
    border: none;
    background-color: #5edfc8; 
    background-color: #3cd6bb; 
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    width: 150px;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: #ffffff;
    cursor: pointer;
    animation: bounceIn 0.5s ease-in-out;
    font-family: inherit;
}

@keyframes bounceIn {
    from {
        transform: scale(0.5);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.started-btn button:hover {
    background-color: #1bc1a4; 
}

/* Additional Styling */
.settings-form-data {
    margin-left: 20px;
    color: #1bc1a4; 
}

.input-container {
    margin-bottom: 15px;
}

.input-container label {
    font-weight: bold;
    color: #1bc1a4; 
}

.input-container select {
    width: 100%;
}

.question-amount input {
    width: calc(100% - 30px);
}
